/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';
@import './theme';

html,
body {
	&:not(mat-icon) {
		margin: 0;
	}

	height: 100%;
	-webkit-font-smoothing: antialiased;
}